pywin32==301
opencv-python==4.4.0.44
pyperclip==1.8.1
comtypes==1.1.7
mss==6.0.0
Pillow==8.3.2
PyAutoGUI==0.9.52
PyInstaller==4.0
colorama==0.4.4
cryptography==3.3.2
pycaw==20181226
pyreadline==2.1
pyWinhook==1.6.2